/* * * * Friend list * * * */
.friends_thumb_1
{
	float:left;
	margin: 0px 7px 7px 0px;	
}

.friends_thumb_2
{
	float:left;
	margin: 0px 0px 7px;
}

.browse_nick
{
	text-align:center;
}

.browse_nick a
{
	font-weight:bold;
}

