<form action="__action_url__" method="post">
	<table class="popup_form_wrapper">
		<tr>
			<td class="corner"><img src="<bx_image_url:op_cor_tl.png />" alt="" /></td>
			<td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img src="<bx_image_url:op_cor_tr.png />" alt="" /></td>
		</tr>
		<tr>
			<td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="container">
				<input type="hidden" name="relocate" value="__relocate_url__" />
				<div class="login_form_cont">
					<div class="login_form_warning">__warning_text__</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label">__name_label__:</div>
						<div class="login_form_val">
							<input type="text" name="ID" class="login_form_input" />
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label">__password_label__:</div>
						<div class="login_form_val">
							<input type="password" name="Password" class="login_form_input" />
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label"></div>
						<div class="login_form_val">
							<input type="submit" class="login_form_submit" value="__submit_label__"/>
						</div>
						<div class="clear_both"></div>
					</div>
				</div>
			</td>
			<td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
		</tr>
		<tr>
			<td class="corner"><img src="<bx_image_url:op_cor_bl.png />" alt="" /></td>
			<td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img src="<bx_image_url:op_cor_br.png />" onload="if( navigator.appName == 'Microsoft Internet Explorer' && window.version && version >= 5.5 && version < 7 ) png_fix();" alt="" /></td>
		</tr>
	</table>
</form>