<div class="thumbnail_block __classes_add__" style="float:__sys_thb_float__;">

	<div class="thumbnail_image" onmouseover="javascript:startUserInfoTimer(__iProfId__, this)" onmouseout="javascript:stopUserInfoTimer(__iProfId__)">
		<a href="__usr_profile_url__" title="__usr_thumb_title0__">
            <img src="<bx_image_url:spacer.gif />" style="background-image:url(__usr_thumb_url0__);" class="thumbnail_image_file bx-def-shadow bx-def-round-corners" />
            <i class="sys-online-offline sys-icon __sys_status_icon__" title="__sys_status_title__"></i>
		</a>
	</div>	

<bx_if:profileLink>
    <div class="thumb_username">
        <a class="bx-def-font-large" href="__usr_profile_url__">__user_title__</a>
        <br />
        <i class="bx-def-font-small bx-def-font-grayed">__user_info__</i>
    </div>
</bx_if:profileLink>

    <div class="clear_both"></div>

</div>
