<div id="msg_invite___sender_id__" class="msg_ajax">
    <div class="msg_window">
        <div class="msg_window_content bx-def-padding">

            <div class="bx-def-font-h3 bx-def-margin-sec-bottom"><bx_text:_messenger_invitation_title /></div>

            <div class="msg_left_side">__sender_thumbnail__</div>

            <div class="msg_right_side bx-def-margin-sec-left">
                <div class="msg_sender">
                    <a href="__sender_profile__" target="_blank">__sender_nickname__</a>
                    <br />
                    <bx_text:_messenger_invitation_description />
                </div>
                <div class="msg-post-body bx-def-border bx-def-padding-sec">
                    __invitation_text__
                </div>        
            </div>

            <div class="clear_both">&nbsp;</div>
            
            <div class="msg_buttons bx-def-margin-sec-top">__invitation_buttons__</div>

        </div>
    </div>
</div>
