#profile_customize .buttons_bar {
	display: block;
	margin-top: 10px;
}

form#custom_themes_form .thumb {
    float: left;
    margin-right: 10px;
    width: 66px;
    margin-bottom: 10px;
    cursor: pointer;
    height:100px;
    overflow:hidden;
}

form#custom_themes_form .thumb64 {
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#EDEDED;
}

form#custom_themes_form .thumb64 img {
    width: 64px;
    height: 64px;
}

form#custom_themes_form .radiobox {
    top: 1px;
    left: 1px;
    width: 21px;
    height: 21px;    
    background-color: #ffcccc;
}

.form_advanced_table .radiobox input {
	margin: 3px;
	padding: 0;
	width: 15px;
	height: 15px;
}

#profile_customize .input_wrapper_text {
    margin-right: 3px;
}

