div.wall-clear {
    clear:both;
    font-size:0px;
}
div.wall-outline,
div.wall-outline-items {
    position: relative;
}
div.wall-outline {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.wall-load-more .bx-btn {
    float: none;
	margin-left: auto;
	margin-right: auto;
}

/*--- Item main layout ---*/
div.wall-oi-item {
	position: relative;

	width: 170px;
	padding: 10px 0px;
}
div.wall-oi-item-grouped {}
div.wall-oi-item-cnt {
	position: relative;
	background-color: #ffffff;
	overflow: hidden;
}
div.wall-oi-item-circle {
	position: absolute;
    top: 0px;
    left: -10px;
    width: 26px;
    height: 26px;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	
    background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
        
    text-align: center;
    line-height: 29px;
    color: #999999;
}
div.wall-oi-item-circle i.sys-icon {
	vertical-align: middle;
	font-size: 16px;
} 

/*--- Content section ---*/
div.wall-oii-title,
div.wall-oii-title a,
div.wall-oii-description a,
div.wall-oii-description-extra a,
div.wall-oii-description-extra-special a {
	color: #333333;
}
div.wall-oii-description {
	margin-top: 5px;
	color: #999999;
} 

div.wall-oii-description-extra-special,
div.wall-oii-description-extra {
    margin-top: 5px;
}
div.wall-oii-description-extra-special {
    font-weight:bold;
}

/*--- Image base content ---*/
div.wall-oii-image-wrp {
	border: 1px  solid #ffffff;
	background-color: #f8f8f8;
}
div.wall-oii-image {
	width: 100%;
	text-align: center;
}
img.wall-oii-image {
	position: relative;
}

/*--- Author section ---*/
div.wall-oii-author {
	position: relative;
}
div.wall-oii-author div.thumbnail_block {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.wall-oii-author-cnt {
	min-height: 32px;
	margin-left: 42px;
}
div.wall-oii-author-name {
	font-weight: bold;
}
div.wall-oii-posted {}

/*--- Comments section ---*/
div.wall-oii-comments {
	position: relative;
	line-height: 27px;
	text-align: center;
}
div.wall-oii-comments,
div.wall-oii-comments a {
	color: #666666;
}
