<style>
	.adm-hosting-promo {
		position:relative;
	}
	.adm-hosting-promo > img {
		position:absolute;
		top:0px;
		left:0px;
		width:32px;
		height:32px;
		background-repeat:no-repeat;
		background-position:center center;
	}
	.adm-hosting-promo > div {
		padding-left: 42px;
	}
	.adm-hosting-promo > div > a {
		display:block;
		font-size:14px;
		font-weight:bold;
	}
</style>
<div class="adm-hosting-promo">
	<img src="<bx_image_url:spacer.gif />" style="background-image:url(<bx_icon_url:hosting_promo.png />);" />
	<div>
		<a target="_blank" href="http://www.boonex.com/hosting/"><bx_text:_adm_txt_hosting_title /></a>
		<bx_text:_adm_txt_hosting_text />
	</div>
</div>
