<div class="adm-pb-cp-item">
    <form name="pageSelector" method="get" action="__url__">
        <bx_text:_adm_txt_pb_page />
        <select class="form_input_select" name="Page" onchange="if (this.value && this.value != 'none') this.form.submit()">
            <bx_repeat:pages>
                <option value="__value__" __selected__>__title__</option>
            </bx_repeat:pages>
        </select>
        <input type="submit" value="<bx_text:_adm_btn_Go />" />
    </form>
</div>
<div class="adm-pb-cp-item-right">
    <bx_if:show_add_column>
        <button id="addColumnButton" class="bx-btn bx-btn-small" type="button" onclick="oPB.addColumn()"><bx_text:_adm_btn_add_column /></button>
    </bx_if:show_add_column>
    <button class="bx-btn bx-btn-small" type="button" onclick="showNewPageDialog('__url__')"><bx_text:_adm_btn_add_page /></button>
</div>
<div class="clear_both">&nbsp;</div>
