<div class="message_block">
    <div class="icon_block">__owner_icon__</div>
    <div class="content">
        <bx_if:delete_allowed>
	        <a class="act" href="javascript:void(0)" title="__delete_cpt__" onclick="if( confirm('__sure_cpt__') ){oShoutBox.deleteMessage(__message_id__, this)}">
	            <i class="sys-icon remove"></i>
	        </a>
        </bx_if:delete_allowed>
        <bx_if:block_allowed>
	        <a class="act" href="javascript:void(0)" title="__block_cpt__" onclick="if( confirm('__sure_cpt__') ){oShoutBox.blockMessage(__message_id__)}">
	            <i class="sys-icon ban-circle"></i>
	        </a>
        </bx_if:block_allowed>
        <span class="date bx-def-font-small bx-def-font-grayed">__date__</span>
    </div>
    <div class="content"><span class="by bx-def-font-small bx-def-font-grayed">__by__</span> <a href="__owner_link__">__owner_nick__</a></div>
    <div class="content">__message__</div>
    <div class="clear_both"></div>
</div>
